.carousel {

    &__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  }
  
   &__image {
            width: 200px;
    }
   &__nextButton{
    height: 5%;
    width: 10%;
	border-top: 10px solid transparent;
	border-left: 16px solid #555;
	border-bottom: 10px solid transparent;
    }
   
  &__prevButton {
    height: 5%;
    width: 10%;
	border-top: 10px solid transparent;
	border-right: 16px solid #555;
	border-bottom: 10px solid transparent;
    }
}