h2{
    color: #a2615d;
    font-size: 30px;
}

img{
    width: 250px;
}

h3{
    font-size: 22px; 
    font-weight:600
}


div {
    p{
        font-size: 24px;
        font-weight: bolder;
      
    }
}    